<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faraz_khan.bank2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateCurrentAccount"
            android:label="@string/title_activity_create_current_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateSavingsAccount"
            android:label="@string/title_activity_create_savings_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateStudentAccount"
            android:label="@string/title_activity_create_student_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateBusinessAccount"
            android:label="@string/title_activity_create_business_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateSMBAccount"
            android:label="@string/title_activity_create_smbaccount"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateIRAAccount"
            android:label="@string/title_activity_create_iraaccount"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateInternationalAccount"
            android:label="@string/title_activity_create_international_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreatePrivateAccount"
            android:label="@string/title_activity_create_private_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateDisabilityAccount"
            android:label="@string/title_activity_create_disability_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateChildrensAccount"
            android:label="@string/title_activity_new_childrens_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Deposit"
            android:label="@string/title_activity_deposit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DisplayBalance"
            android:label="@string/title_activity_display_balance"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Withdraw"
            android:label="@string/title_activity_withdraw"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TransferMoney"
            android:label="@string/title_activity_transfer_money"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PayInterest"
            android:label="@string/title_activity_pay_interest"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddAccountHolder"
            android:label="@string/title_activity_add_account_holder"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ShowAccounts"
            android:label="@string/title_activity_show_accounts"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewTransactions"
            android:label="@string/title_activity_view_transactions"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ChangeOverdraft"
            android:label="@string/title_activity_change_overdraft"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateLoan"
            android:label="@string/title_activity_create_loan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewLoanHistory"
            android:label="@string/title_activity_view_loan_history"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
